<form action="{% url 'template_edit' template_id %}" method="post" class="card mb-4">
    {% csrf_token %}

        <h5 class="card-header">Edit template</h5>

        <div class="card-body">
            {% include 'bootstrap_form_fields.html' %}

            <button class="btn btn-primary" type="submit">Save template</button>
            <a class="btn btn-outline-danger" href="{{ request.path }}">Reset</a>
        </div>
</form>
{% if immediate_dependencies %}
    <div class="mb-4">{% include 'template/dependency_codes_template_edit.html' %}</div>
{% endif %}
