{% extends "base.html" %}

{% block title %}Sure? – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block content %}
    {% if form.errors %}
        <h2 class="mb-4">What did you do?</h2>
        <div class="alert alert-danger mb-4">{{ form.errors }}</div>
    {% else %}
        {% if dependencies or other_users_depend %}
            <div class="alert alert-warning mb-4">
                <ul class="m-0 list-unstyled">
                    {% if other_users_template_count %}
                        <li class="mb-3">There {% if other_users_template_count == 1 %}is <strong>one</strong>
                            template of another user{% else %}are
                            <strong>{{ other_users_template_count }}</strong> templates of other
                            users{% endif %} that depend{{ other_users_template_count|pluralize:"s," }} on some
                            of the templates that are to be deleted.
                        </li>
                    {% endif %}
                    {% if dependencies %}
                        <li>The following of your own templates depend on some of the templates that are to be
                            deleted.
                            <ul>
                                {% for template in dependencies|dictsort:"name.lower" %}
                                    <li><a href="{% url 'template_edit' template.pk %}">{{ template.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

        <div class="card mb-4">
            <h5 class="card-header">Are you sure?</h5>
            <div class="card-body"><p class="m-0">Are you sure you want to delete the following templates?</p>
                <ul class="m-0">
                    {% for template in to_delete|dictsort:"name.lower" %}
                        <li><a href="{% url 'template_edit' template.pk %}">{{ template.name }}</a></li>
                    {% endfor %}
                </ul>

                <form action="{% url 'template_delete' %}" method="post">
                    {% csrf_token %}
                    {% for template in to_delete %}
                        <input type="hidden" name="to_delete" value="{{ template.pk }}"/>
                    {% endfor %}
                    <button type="submit" class="btn btn-danger mt-3">Yes, I'm sure</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}