{% extends "base.html" %}

{% block title%}My templates – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block templatelist_li_tags %} active{% endblock %}

{% block additionalHeaders %}
    <style>
        tr td:first-child, tr td:last-child {
            width: .1em;
        }

        tr td:first-child {
            text-align: center;
        }

         tr td:last-child {
            white-space: nowrap;
            text-align: right;
        }
    </style>
    <script>
        $(document).ready(function() {
            $('#check_all_templates').click(function (e) {
               e.preventDefault();
               $('input:checkbox[name="to_delete"]').prop('checked', true);
            });

            $('#uncheck_all_templates').click(function (e) {
               e.preventDefault();
               $('input:checkbox[name="to_delete"]').prop('checked', false);
            });
        });
    </script>
{% endblock %}

{% if is_paginated %}{% load paginator %}{% endif %}
{% load shortcuts %}

{% block content%}
    <div class="page-header">
        <h2 class="mb-4">My templates</h2>
    </div>
    {% if templates %}
        {% if is_paginated %}<div class="mb-4">{% paginator 2 %}</div>{% endif %}
        <form action="{% url 'template_delete' %}" method="get">
        <div class="table-responsive mb-4">
            <table class="table table-striped table-bordered m-0">
                <caption class="sr-only">List of all templates</caption>
                <thead>
                <tr>
                    <th style="min-width: 4rem;" class="text-center">
                        <a href="#" id="check_all_templates" title="Check all"><i class="far fa-check-square"></i><span class="sr-only">Check all</span></a>
                        <a href="#" id="uncheck_all_templates" title="Uncheck all"><i class="far fa-square"></i><span class="sr-only">Uncheck all</span></a>
                    </th>
                    <th>Template name</th>
                    <th>Utility</th>
                    <th>Public</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for template in templates|dictsort:"name.lower" %}
                    <tr>
                        <td>{% if not template.is_default %}<input type="checkbox" name="to_delete" value="{{ template.pk }}"/>{% endif %}</td>
                        <td><a href="{% url 'template_edit' template.pk %}">{{ template.name }}</a></td>
                        <td>{{ template.is_utility|yesnoimg }}</td>
                        <td>{{ template.is_public|yesnoimg }}</td>
                        <td>
                            <a href="{% url 'template_copy' template.pk %}" title="Create a new template from this template"><i class="fas fa-copy"></i><span class="sr-only">Copy</span></a>
                            {% if not template.is_default %}<a href="{% url 'template_delete' %}?to_delete={{ template.pk }}" title="Delete this template"><i class="fas fa-trash-alt"></i><span class="sr-only">Delete</span></a>{% endif %}
                            <a href="{% url 'scratchpad_index' %}?template={{ template.pk }}" title="View this template in the scratchpad"><i class="fas fa-eye"></i><span class="sr-only">Scratchpad</span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
            <a class="btn btn-primary mb-4" href="{% url 'template_add' %}">Create new template</a>
            <button type="submit" class="btn btn-outline-danger mb-4">Delete</button>
        </form>
        {% if is_paginated %}<div class="mb-4">{% paginator 2 %}</div>{% endif %}
    {% else %}
        <div class="alert alert-info mb-4">You don't have any templates yet. Why don't you try <a href="{% url 'template_add' %}"><strong>creating one</strong></a>?</div>
    {% endif %}
{% endblock %}