{% extends "base.html" %}

{% block title %}Settings – {% endblock %}

{% block home_li_tags %}{% endblock %}

{% block settings_li_tags %} active{% endblock %}

{% block content %}
    {% if successful %}
        <div class="alert alert-success mb-4">Your settings were saved successfully.</div>
    {% endif %}

    <form action="{% url 'settings' %}" method="post" class="card mb-4">
        {% csrf_token %}

        <h5 class="card-header">Settings</h5>

        <div class="card-body">
            {% include 'bootstrap_form_fields.html' %}

            <button class="btn btn-primary" type="submit">Save settings</button>
        </div>
    </form>
{% endblock %}