{% extends "rest_framework/base.html" %}

{% block title %}{{ name }} - YADG API{% endblock %}

{% block branding %}
    <a class='navbar-brand' rel="nofollow" href='{% url 'index' %}' title="Back to home">
        YADG <small>API</small>
    </a>
{% endblock %}
