{% extends "contact/contact_base.html" %}

{% block content %}
    <form action="{% url 'contact' %}" method="post" class="card mb-4">
        {% csrf_token %}

        <h5 class="card-header">Contact</h5>

        <div class="card-body">
            {% include 'bootstrap_form_fields.html' %}

            <button class="btn btn-primary" type="submit">Send message</button>
            <button class="btn btn-outline-danger" type="reset">Reset</button>
        </div>
    </form>
{% endblock %}