{% load static %}{% load scrapernames %}{% scraper_names as SCRAPER_NAMES %}<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}YADG</title>
    <meta charset="utf-8">
    <meta name="description" content="Extract release information from {% for scraper_name in SCRAPER_NAMES %}{{ scraper_name }}{% if forloop.counter < SCRAPER_NAMES|length|add:"-1" %}, {% else %}{% if forloop.counter == SCRAPER_NAMES|length|add:"-1" %} or {% endif %}{% endif %}{% empty %}nowhere right now{% endfor %} and create a nice description from it."/>
    <meta name="keywords" content="description, generator{% if not SCRAPER_NAMES|length_is:"0" %}, {% endif %}{% for scraper_name in SCRAPER_NAMES %}{{ scraper_name|lower }}{% if not forloop.last %}, {% endif %}{% endfor %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon"/>

    <!-- Le styles -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/fa.min.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery-3.3.1.slim.min.js" %}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"></script>
    <script src="{% static "js/popper.min.js" %}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"></script>
    <script src="{% static "js/bootstrap.min.js" %}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('html').addClass('jquery-js-enabled');

            $('#id_template').change(function (e) {
                e.preventDefault();
                $('#format_form').submit();
            });

            $('#format_submit').hide();

            $('.yadg_tooltip').click(function (e) {
                e.preventDefault();
            });
            $('.yadg_tooltip').tooltip();
        });
    </script>
    {% block additionalHeaders %}{% endblock %}
</head>

<body class="d-flex flex-column" style="min-height: 100vh;">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}" title="Yet Another Description Generator">YADG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% block home_li_tags %} active{% endblock %}">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item{% block scrapers_li_tags %}{% endblock %}">
                    <a class="nav-link" href="{% url 'scrapers_overview' %}">Available Scrapers</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item{% block userlist_li_tags %}{% endblock %}">
                        <a class="nav-link" href="{% url 'user_list' %}">Users</a>
                    </li>
                    <li class="nav-item{% block scratchpad_li_tags %}{% endblock %}">
                        <a class="nav-link" href="{% url 'scratchpad_index' %}">Scratchpad</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'api_root' %}">API</a>
                </li>
                <li class="nav-item{% block contact_li_tags %}{% endblock %}">
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item{% block userpage_li_tags %}{% endblock %}" href="{% url 'user_detail' user.pk %}">My user page</a>
                            <a class="dropdown-item{% block templatelist_li_tags %}{% endblock %}" href="{% url 'template_list' %}">My templates</a>
                            <a class="dropdown-item{% block subscriptions_li_tags %}{% endblock %}" href="{% url 'subscriptions' %}">My subscriptions</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item{% block passwordchange_li_tags %}{% endblock %}" href="{% url 'password_change' %}">Change password</a>
                            <a class="dropdown-item{% block settings_li_tags %}{% endblock %}" href="{% url 'settings' %}">Settings</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item{% block register_li_tags %}{% endblock %}">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                    <li class="nav-item{% block login_li_tags %}{% endblock %}">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <noscript>
        <div class="alert alert-warning mb-4" role="alert">
            <strong>Heads up!</strong> Javascript seems to be disabled for this website. This website makes heavy use of javascript and will not work correctly without it.
        </div>
    </noscript>
    {% block content %}
    {% endblock %}
</div>

<footer class="footer mt-auto bg-light border-top">
    <div class="container">
        <p class="my-3 text-muted text-center">YADG is open source under the <a href="https://gitlab.com/Slack06/yadg/blob/master/LICENSE">MIT</a> license. Feel free to contribute on <a href="https://gitlab.com/Slack06/yadg">Gitlab</a>.</p>
        <hr class="m-0">
        <p class="my-2 text-muted text-center text-truncate">
            <small>$$COMMIT_REF$$</small>
        </p>
    </div>
</footer>
</body>
</html>
