{% load with_attrs %}{% load is_checkbox %}{% for field in form %}
    <div class="form-group">
        {# TODO: refactor to use Bootstrap widgets in the form #}
        {% if field|is_checkbox %}
            <div class="form-check">
                {% if field.errors %}
                    {{ field|with_attrs:"form-check-input is-invalid" }}
                {% else %}
                    {{ field|with_attrs:"form-check-input" }}
                {% endif %}

                <label class="form-check-label" for="{{ field.id_for_label }}">{{ field.label }}</label>

                {% include "bootstrap_form_feedback.html" %}
            </div>
        {% else %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>

            {% if field.errors %}
                {{ field|with_attrs:"form-control is-invalid" }}
            {% else %}
                {{ field|with_attrs:"form-control" }}
            {% endif %}

            {% include "bootstrap_form_feedback.html" %}
        {% endif %}

        {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
{% endfor %}