{% load with_attrs %}<form action="{{ request.path }}" method="get" class="form-inline{% if form_classes %} {{ form_classes }}{% endif %}" id="format_form">
    <label class="sr-only" for="{{ format_form.template.id_for_label }}">{{ format_form.template.label }}</label>
    {{ format_form.template|with_attrs:"form-control" }}
    <button type="submit" class="btn btn-secondary ml-md-2 mt-2 mt-md-0" id="format_submit">Go</button>
</form>